// navbar

.header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // bu yorum satırı css dosyasına gitmez
  /* bu yorum satırı css dosyasına gelir*/
  background-color: darkslategray;
  @include flexMix(
    flex,
    space-between
  ); // flex özelliklerini her yerde kullanacağımı bildiğimiz için mixine çevirdik.
  padding: 1rem 6rem;
  i {
    display: none;
  }
  &__logo {
    // bem notasyonu kullandığımızda class isimlerini birleştirebiliriz.
    width: 50px;
    height: 50px;
  }
  &__links {
    display: flex;
    align-items: center;
    list-style-type: none;
    li {
      padding-right: 0.5rem;
    }
    &--home {
      border: none;
      padding: 0.4rem;
      border-radius: 6px;
      background-color: $btnColor;
      color: $mainColor;
      width: 5rem;
    }
    &--disabled {
      border: none;
      padding: 0.4rem;
      border-radius: 6px;
      background-color: $btnColor;
      color: $mainColor;
      width: 5rem;
    }
    &--login {
      border: none;
      padding: 0.4rem;
      border-radius: 6px;
      background-color: $btnColor;
      color: $mainColor;
      width: 5rem;
    }
    &--register {
      border: none;
      padding: 0.4rem;
      border-radius: 6px;
      background-color: $btnColor;
      color: $mainColor;
      width: 5rem;
    }
  }
}
