// mixin

@mixin flexMix($d, $j: center) {
  display: $d;
  justify-content: $j;
  align-items: center;
}

@mixin fontMix($family, $style, $weight, $size, $height) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin bgImage($height, $width, $url) {
  height: 500px;
  width: 45%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url($url);
}

@mixin btnMix($width) {
  margin: 1rem 0px;
  border: none;
  background: $btnColor;
  border-radius: 8px;
  //   font-family: Inter;
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 0.9rem;

  width: $width;
  height: 30px;
  color: $mainColor;
}
